<h3>Actions</h3>

<select id="slctSbj" class="chzn-select" data-bind="options: availableSubjects, value: currentSubject, optionsCaption: 'Choose subject'"></select>

<span data-bind="text: availableSubjects().length"></span>
<span data-bind="text: stateName()"></span>

<div data-bind="visible: isTypeOf()==='action',foreach: actionData">
	<div>
	<span>Do:</span>
	<input class="btn" type="button" data-bind="value: $data,click: $parent.action, enable: $parent.serverDone()"></a>
	</div>
</div>

<div data-bind="visible: isTypeOf()==='send'">
	<input type="text" data-bind="value: messageText" />
	<span  data-bind="visible: isTypeOf()==='send'">Send:</span>
	<input type="button" value="Send" class="btn" data-bind="click: send, enable: serverDone()">Send</a>
</div>

<div data-bind="visible: isTypeOf()==='waiting'">
	<span>Waiting!!</span>
</div>

<div data-bind="visible: isTypeOf()==='receive',foreach: actionData">
	<div>
	<span>Receive:</span>
	<span data-bind="text: $data"></span>
	<input class="btn" type="button" value="Received" data-bind="click: $parent.action, enable: $parent.serverDone()">
	</div>
</div>
