<div class="header">
  <div class="btn-group">
    <button	id="tab2" class="btn">Subject-Interaction-View</button>

    <div class="btn tab-dropdown">
      <select id="slctSbj" data-placeholder="Select Internal Behavior"
        class="middle_switch chzn-select" tabindex="1"
        data-bind="options: availableSubjects, optionsText: 'subjectText',
        optionsValue: 'subjectID', value: currentSubject, caption: ''">
      </select>
    </div>
  </div>
</div>

<div class="content flexbox">
  <div class="fluid">
    Some History stuff
  </div>
  <div id="actions" class="graphsettings"></div>
</div>
