.projectile
.tern-project
*.class
*.log
.scala_dependencies
*.git
*.war
*.ear
.codekit-config.json
.DS_Store
*.sublime*
*.graffle
Repository/target/*
Repository/project/target/*

1 2 3 4


something else

