.projectile
.tern-project
.tern-port
*.class
*.log
*.*~
*.backup
*.orig
*.swo
*.swp
.scala_dependencies
*.git
*.war
*.ear
.codekit-config.json
.DS_Store
*.sublime*
*.graffle
Repository/target/*
Repository/project/target/*
ProcessManagement/nbproject/*
ProcessManagement/test/screenshooter-compare/
*.cache
Beispiel/SbpmEventGenerator/target/*
ServiceHost/target/*
ServiceHost/project/target/*
ServiceHost/nbproject/*

# intellij project files
.idea
*.iml

# eclipse project files
.classpath
.project

/pids
backend_*.jar
repository.jar
/target
sbpm_*.db*
repo.db
