.projectile
.tern-project
.tern-port
*.class
*.log
*.swp
.scala_dependencies
*.git
*.war
*.ear
.codekit-config.json
.DS_Store
*.sublime*
*.graffle
Repository/target/*
Repository/project/target/*
ProcessManagement/nbproject/*

.ensime
.ensime_lucene