* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Now here is when interesting things start to appear.

    We set up <body> styles with default font and nice gradient in the background.
    And yes, there is a lot of repetition there because of -prefixes but we don't
    want to leave anybody behind.
*/
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 740px;
}

/*
    Now let's bring some text styles back ...
*/
b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

/*
    ... and give links a nice look.
*/
/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/
.step {
  position: relative;
  width: 900px;
  padding: 40px;
  min-height: 500px;
  margin: 20px auto;
  font-weight: 200;
  font-size: 26px;
  line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
  margin: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-enabled .step.inactive-hide, .impress-enabled .step .inactive-hide {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-enabled .step.inactive-dim, .impress-enabled .step .inactive-dim {
  opacity: 0.3;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.impress-enabled .step.active.inactive-hide, .impress-enabled .step.active.inactive-dim, .impress-enabled .step.active .inactive-hide, .impress-enabled .step.active .inactive-dim {
  opacity: 1;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  text-align: center;
  color: #e8271b;
  border-bottom: 1px solid #ef6960;
}

h2 {
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  color: #bc1d13;
}

h3 {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
}

.cleafix {
  *zoom: 1;
}
.cleafix:before, .cleafix:after {
  content: " ";
  display: table;
}
.cleafix:after {
  clear: both;
}

.next-slide {
  font-size: 18px;
  font-weight: 400;
  display: block;
  margin-top: 2em;
  position: fixed;
  bottom: 1.5em;
  right: 2em;
}

.bordered {
  border-radius: 0.25em;
  border: 2px solid #cccccc;
}

.inline-block {
  display: inline-block;
}

.pull-left {
  float: left;
}

.arrow {
  position: relative;
}
.arrow .label {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
}
.arrow .arrow-stem {
  position: absolute;
  border-bottom: 1px solid #999999;
  height: 1;
}
.arrow .arrow-stem, .arrow .label, .arrow .arrow-tip {
  display: inline-block;
}
.arrow .arrow-tip {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #999999;
}

.arrow-1 {
  position: absolute;
  left: 105px;
  top: 25px;
}

.arrow-2 {
  position: absolute;
  left: 45px;
  top: 307px;
}

.arrow-3 {
  position: absolute;
  left: 70px;
  top: 307px;
}

.arrow-4 {
  position: absolute;
  left: 100px;
  top: 307px;
}

a {
  color: #ea3d32;
  text-decoration: none;
  border-radius: 0.2em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus {
  background: white;
}

#overview {
  height: 700px;
}

#staples, #tsp, #audi {
  height: 600px;
}
#staples h3, #tsp h3, #audi h3 {
  font-size: 30px;
  font-weight: 400;
}
#staples .graphic, #tsp .graphic, #audi .graphic {
  width: 50%;
  margin-left: 25%;
}
#staples .demo-image, #tsp .demo-image, #audi .demo-image {
  width: 60%;
  margin-left: 20%;
  display: block;
  border-radius: 0.25em;
  border: 2px solid #aaaaaa;
}
#staples .demo-image:hover, #tsp .demo-image:hover, #audi .demo-image:hover {
  background-color: rgba(221, 238, 255, 0.5);
}
#staples .demo-image:active, #tsp .demo-image:active, #audi .demo-image:active {
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.3);
}
#staples .image-placeholder, #tsp .image-placeholder, #audi .image-placeholder {
  width: 100%;
  display: inline-block;
  position: relative;
}
#staples .image-placeholder .dummy, #tsp .image-placeholder .dummy, #audi .image-placeholder .dummy {
  margin-top: 100%;
}
#staples .image-placeholder img, #tsp .image-placeholder img, #audi .image-placeholder img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#technical .column {
  float: left;
  margin-left: 80px;
}
#technical .column:first-child {
  margin-left: 0;
}
#technical .small {
  font-size: 16px;
}
#technical .container {
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  width: 150px;
  height: 200px;
}
#technical .container.container-tall {
  height: 475px;
}
#technical .container.container-wide {
  width: 255px;
}
#technical .container.container-wide img {
  width: 40%;
}
#technical .container img {
  width: 80%;
}
