/*
 * S-BPM Groupware v1.2
 *
 * http://www.tk.informatik.tu-darmstadt.de/
 *
 * Copyright 2012 Johannes Decher, Telecooperation Group @ TU Darmstadt
 * Contact: Stephan.Borgert@cs.tu-darmstadt.de
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "variables";
@import "bootstrap";

@import "flexbox";
@import "calc";

@import "forms";

.flexbox {
  @include display-box;

  [class*="span"] {
    float: none;
  }

}

.fluid {
  @include box-flex(1);
}

body, html, .content_wrapper{
  height: 100%;
}

#headAndLeft {
  @include calc(height, "100% - 50px");
}

body {
  color: #363636;
  font-size: 12px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f7f7;
  background-image: url(../images/bg_left.jpg);
  background-repeat: repeat-y;
}
body.no-menu {
  background-image: none;
}
body.login {
  margin: auto;
  padding: auto;
  background: #262B32 url("../images/bg.png") repeat-x 0 350px;
  font-family: Arial;
  font-size: 12px;
  color: #363636;
  text-shadow: 0 1px 0 #ccc;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 0px;
  font-family: Helvetica;
  color: #F1F1F1
}
h2 {
  font-size: 20px;
  font-family: Verdana;
  color: #4B4F5D;
}
h3 {
  font-size: 18px;
  color: #4B4F5D;
}
h4 {
  font-size: 14px;
  color: #4B4F5D;
}

#login_wrapper {
  width: 100%;
  height: 400px;
  margin-top: 200px;
}
#login_top_window {
  margin: auto;
  padding: auto;
  width: 351px;
  height: 30px;
}
#login_body_window {
  margin: auto;
  padding: auto;
  width: 351px;
  height: 240px;
  background: transparent url('../images/bg_login_window.png') no-repeat top;
}
#login_body_window .inner {
	margin: auto;
	padding: auto;
	width: 300px;
	height: 235px;
	padding-top: 10px;
}
#login_body_window .inner p {
	margin-top: 30px;
}
#login_footer_window {
	margin: auto;
	padding: auto;
	width: 351px;
	height: 30px;
}
#login_reflect {
	margin: auto;
	padding: auto;
	margin-top: 3px;
	width: 350px;
	height: 107px;
}

#shortcut li {
	display: block;
	float: left;
	margin: 0 20px 20px 0;
	text-align: center;
}
#shortcut li a {
	display: block;
	width: 50px;
	padding: 10px 15px 10px 15px;
	background: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #cdcdcd;
	color: #4c535b;
	text-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 2px 2px #fff;
	-webkit-box-shadow: 0 2px 2px #fff;
	box-shadow: 0 2px 2px #fff;
}
#shortcut li a:hover {
	background: #eaeced
}
#shortcut li a:active, #shortcut li a.active {
	background: #C6CACB
}
#shortcut li a img {
	margin-bottom: 5px;
}

#content_wrapper {
	width: 100%;
	text-align: left;
}

#quick_table {
  form {
    input, select {
      margin-right: 5px;
    }
  }
}

#header {
	width: 100%;
	min-width: 960px;
	height: 50px;
	background: url(../images/bg_header.png);
	background-repeat: repeat-x;
	text-shadow: 1px 0 0 #666;
	color: #ccc;
}
#header a {
	color: #F1F1F1;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
	font-weight: bold
}
#header a:hover {
	color: #D1D1D1;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
#header a:active {
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
#logo {
	width: 290px;
	float: left;
	margin: 8px 0 0 20px;
}
#account_info {
	// width: 450px;
	float: left;
	text-align: left;
	margin: 16px 35px 0 0;
}
#misc {
	width: 350px;
	height: 40px;
	margin: 5px 0px 0 0;
	padding: 0px 0px 0 0px;
	float: right;
}
#misc #menu {
	width: 150px;
	margin: 16px 35px 0 0;
	float: left;
}
#misc #img {
	width: 160px;
	float: left;
}

a {
	color: #1F92FF;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
a:hover {
	color: #2F4E85;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
a:active {
	color: #000;
	text-decoration: none;
	text-shadow: 0 0 0 transparent;
}
.clear {
	clear: both;
}
.show {
	display: block;
}

#headAndLeft {
  @include display-box;
}

#left_menu {
	width: 210px;
  background-color: #ebebeb;
  border-right: 1px solid #bcbcbc;
}

#main_menu {
  @include box-sizing(border-box);
	margin: 0;
	padding: 0;
  width: 100%;
	list-style: none;

  li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    display: block;

    &.active {
      height: auto;
    }
    &.end {
      border-top: 1px solid #fff;
      border-bottom: 0;
      height: 1px;
    }

    a {
      display: block;
      padding: 10px 20px 12px 30px;
      color: #4b4f5d;
      font-weight: bold;
      text-shadow: 0 1px 0 #fff;

      &:hover {
        background: #DADADA;
      }

      img {
        vertical-align: middle;
        margin-right: 15px;
        border: 0;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      padding: 10px 0 10px 0;
      margin-bottom: 10px;
      float: left;
      display: block;
      width: 100%;
      background: #bfc6cf;
      border-top: 2px solid #999;
      border-bottom: 1px solid #fff;
      display: none;
      overflow: hidden;

      li {
        border: 0;
        a {
          text-shadow: 0 1px 0 #DBDBDB;

          &:hover {
            background: #b1b8c1;
            text-shadow: 0 1px 0 #DBDBDB;
          }

        }

        ul {
          background: #b0b9c4;
          border-bottom: 1px solid #EAECED;
          display: block;
          li {
            display: block;
            a {
              text-shadow: 0 1px 0 #DBDBDB;
              cursor: pointer;

              &:hover {
                background: #a2acb9;
                text-shadow: 0 1px 0 #DBDBDB;
              }
            }
          }
        }
      }
    }
  }
}

a#hide_menu {
	display: block;
	padding: 5px 10px 5px 30px;
	text-align: right;
	font-size: 14px;
	color: #4b4f5d;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	cursor: w-resize;

  &:hover {
    background: #ccc;
  }
}

a#show_menu {
  display: none;
  margin: 10px 5px 5px 10px;
  padding: 5px 10px 5px 10px;
  border: 1px solid #CCC;
  position: relative;
  background: #EBEBEB;
  @include border-radius(3px);
  color: #4B4F5D;
  font-weight: bold;
  cursor: e-resize;
  float: left;

  &:hover {
    background: #ccc;
  }
}

#main {
  @include box-flex(1);
  @include box-sizing(border-box);
  height: 100%;
  padding: 15px 7px 7px 15px;

  > .inner {
    height: 100%;
  }
}
#content .inner {
	float: left;
  height: 100%;
}
.onecolumn {
	background: #fff;
	border: 1px solid #cdcdcd;
	margin: 0;
  @include border-radius(5px);
  @include box-shadow(0 1px 2px #ccc);

  .content {
    background: url(../images/bg_ip.png) repeat-x;
    @include border-radius(5px);
    border-top: 0px solid #bdbdbd;
    padding: 15px;
  }

  .header {
    background: url(../images/bg_window_header.png) repeat-x;
    height: 40px;
    border-bottom: 1px solid #ccc;
    @include border-radius(5px 5px 0 0);
    position: relative;

    span {
      display: block;
      width: 100%;
      float: left;
      cursor: n-resize;
    }
  }
}

.twocolumn {
  width: 100%;
  margin: 5px 0 20px 0;
}
.column_left, .column_right {
  width: 49%;
  background: #fff;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 4px #ccc;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  float: left;
}
.column_right {
  float: right;
}
.column_left .header, .column_right .header {
  margin: 0;
  padding: 0;
  float: left;
  background: url(../images/bg_window_header.png) repeat-x;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
}
.column_left .header span, .column_right .header span {
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 12px 0 0 15px;
  float: left;
  width: auto;
  cursor: n-resize;
}
.column_left .content, .column_right .content {
  background: url(../images/bg_ip.png) repeat-x;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-top: 0px solid #bdbdbd;
  padding-bottom: 10px;
  padding: 25px 15px 15px 15px;
}
.twocolumninfo {
  width: 100%;
  margin: 20px 0 20px 0;
}
.column_left2, .column_right2 {
  width: 33%;
  background: #fff;
  float: left
}
.column_right2 {
  float: right;
}
table.data caption {
  display: none;
}
table.data tr {
  background: #f7f7f7;
}
table.data tr td, table.data tr th {
  border-bottom: 1px solid #ccc;
}
table.data tr th {
  font-weight: bold;
  background: #eee;
}
table.data tr th, table.data tr td {
  padding: 7px;
}
table.data tr td {
  color: #666;
}
table.data2 caption {
  display: none;
}
table.data2 tr {
  background: #f7f7f7;
}
table.data2 tr td, table.data2 tr th {
  border-bottom: 1px solid #ccc;
}
table.data2 tr th {
  font-weight: bold;
  background: #eee;
}
table.data2 tr th, table.data2 tr td {
  padding: 9px;
}
table.data2 tr td {
  color: #666;
}

#dialog-header {
	width: 100%;
	height: 50px;
	background: #353c42;
	text-shadow: 1px 0 0 #666;
	color: #ccc;
	margin: 0;
	padding: 0
}
#dialog-logo {
	width: 240px;
	float: left;
	margin: 15px 0 0 10px;
}
#dialog-buttons input {
	margin-right: 10px;
}

.warning {
	color: #CD0A0A;
}

.graphsettings {
  text-align: left;
  padding: 7px 4px;
  overflow: hidden;
	width: 155px;
	max-width: 155px;
  text-shadow: 0 1px 0 #eee;
	background: #e6e6e6;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #ccc;
  @include border-radius(0 0 5px 0);

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    text-align: center;
  }

  p {
    text-align: center;
  }

  label {
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 3px;
  }

  textarea, input[type="text"], input[type="password"], input[type="datetime"],
  input[type="datetime-local"], input[type="date"], input[type="month"],
  input[type="time"], input[type="week"], input[type="number"],
  input[type="email"], input[type="url"], input[type="search"],
  input[type="tel"], input[type="color"], .uneditable-input {
    width: 141px;
  }

  select {
    width: 155px;
  }
}

.nodesettings {
	background: #D1D1D1;
	float: none;
	border: #363636;
	border-style: solid;
	border-width: 1px;
}

.graphmenubutton {
	width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
	font-size: 12px;
	// height: 20px;
}

#graphmenuheader {
	font-size: 14px;
	font-weight: bold;
}

.graphsectionheader {
	text-align: left;
	font-weight: bold;
	margin-top: 3px;
}

#graphmenudivide {
	border-bottom-style: dotted;
	border-top-style: dotted;
	border-color: #000000;
}

.subjectradiobutton {
	text-align: left;
}

#graph {
  @include calc(height, "100% - 45px");

  .onecolumn {
    height: 100%;
  }
}

#processContent {
  @include calc(height, "100% - 40px");
}

#graphZoomButtons {
  @include clearfix();

  padding: 0;
  margin: 0;

  > li {
    line-height: 38px;
    padding: 0 5px 2px 0;
    float: left;
  }
}

#switch {
  @include clearfix();

  padding: 0;
  margin: 0;
  margin-left: 5px;

  > li {
    line-height: 40px;
    float: left;
  }
}

.tab-dropdown {
  display: inline-block;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background: url(../images/bg_button_tab.png) repeat-x;
  font-weight: bold;
  margin: 0;
  height: 28px;
  line-height: 40px;
  border: 1px solid #AAA9A9;
  -moz-box-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 1px #fff;
  box-shadow: 0 1px 1px #fff;
  text-shadow: none;
  color: #494949;
  font-size: 12px;
  vertical-align: middle;
}

.readonly {
	border: 0;
	background-color: inherit;
}


#rightMenuTrigger {
	cursor: s-resize;
	text-decoration: underline;
}

#internalRadioMenu {
	text-align: left;
	padding-left: 40px;
}

#contentHead {
  h3 {
    line-height: 24px;
  }

  h3, form {
    float: left;
  }
}

.tab_content {
  @include display-box;
  height: 100%;
}

#processHistory {
	margin-left: 10px;
}





.hide {
	display: none;
}
