/*!
 * S-BPM Groupware v1.2
 *
 * http://www.tk.informatik.tu-darmstadt.de/
 *
 * Copyright 2012 Johannes Decher, Telecooperation Group @ TU Darmstadt
 * Contact: Stephan.Borgert@cs.tu-darmstadt.de
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

@import "variables";
@import "../thirdparty/bootstrap/scss/bootstrap";
@import "../thirdparty/jquery-chardin/chardinjs";
@import "../thirdparty/intro/introjs";
@import "../thirdparty/bootstrap-chosen/bootstrap-chosen";
@import "flexbox";
@import "calc";
@import "forms";
@import "chardinjs-behavior";
@import "offcanvas";

@import "header";
@import "menu";
@import "login";
@import "dashboard";
@import "process";
@import "processlist";
@import "newprocess";
@import "account";



.flexbox {
  @include display-box;

  [class*="span"] {
    float: none;
  }

}

.fluid {
  @include box-flex(1);
}

body, html, .content_wrapper {
  height: 100%;
}

body {
  color: #363636;
  font-size: 12px;
  // text-shadow: 0 1px 0 #fff;
  background-color: #f7f7f7;
}

body.no-menu {
  background-image: none;
}

body.login {
  margin: auto;
  padding: auto;
  background: #262B32 url("../images/bg.png") repeat-x 0 350px;
  font-family: Arial;
  font-size: 12px;
  color: #363636;
  text-shadow: 0 1px 0 #ccc;
}

a:active {
  color: #000;
  text-decoration: none;
  text-shadow: 0 0 0 transparent;
}

.clear {
  clear: both;
}

.show {
  display: block;
}

.onecolumn {
  background: #fff;
  border: 1px solid #cdcdcd;
  margin: 0;
  border-radius: 5px;
  @include box-shadow(0 1px 2px #ccc);

  .content {
    background: url(../images/bg_ip.png) repeat-x;
    border-radius: 5px;
    border-top: 0px solid #bdbdbd;
    padding: 15px;
  }

  .header {
    span {
      // float: left;
      cursor: n-resize;
    }
  }
}

#dialog-header {
  background: #353c42 url(../images/bg_header.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

#dialog-logo {
  width: 240px;
  float: left;
  margin: 15px 0 0 10px;

  h1, h2, h3, h4, h5 {
    color: #eee;
    text-shadow: 1px 0 0 #444;
    font-weight: normal;
  }
}

#dialog-buttons input {
  margin-right: 10px;
}

.warning {
  color: #CD0A0A;
}

.chzn-results li {
  text-shadow: none;
}

#saveProcessAs {
  &.hidden {
    display: none;
  }

  input[type="button"] {
    margin-right: 5px;
    width: 75px;
    float: left;
  }
}

.nodesettings {
  background: #D1D1D1;
  float: none;
  border: #363636;
  border-style: solid;
  border-width: 1px;
}

#graphmenuheader {
  font-size: 14px;
  font-weight: bold;
}

.graphsectionheader {
  text-align: left;
  font-weight: bold;
  margin-top: 3px;
}

#graphmenudivide {
  border-bottom-style: dotted;
  border-top-style: dotted;
  border-color: #000000;
}

.subjectradiobutton {
  text-align: left;
}

#graph {
  @include calc(height, "100% - 80px");

  .onecolumn {
    height: 100%;
  }
}

#processContent {
  position: relative;
  @include calc(height, "100% - 36px");
}

#processHelpButtons {
  @include clearfix();

  padding: 0;
  margin: 0;
  margin-top: 1px;

  .btn {
    border-radius: 13px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    padding: 0;
  }
}

#graphZoombuttons {
  z-index: 100;
  position: absolute;
  top: 5px;
  left: 10px;
  text-align: center;

  li {
    padding: 5px 0;
    a {
      border-radius: 8px;
      @include box-shadow(0 0 2px rgba(0, 0, 0, 0.2));
      display: inline-block;
      background-color: #EEE;
      border: 1px solid #ccc;
      color: #333;
      width: 16px;
      line-height: 16px;

      &:hover {
        cursor: pointer;
      }

      &:last-child {
        line-height: 14px;
        padding-bottom: 2px;
      }
    }
  }
}

.readonly {
  border: 0;
  background-color: inherit;
}

#contentHead {
  h3 {
    line-height: 24px;
  }
}

.tab_content {
  @include display-box;
  min-width: 1px;
  height: 100%;
}

#processHistory {
  margin-left: 10px;
  height: calc(100% - 36px);
}

// Administration
#adminContainer {
  @include display-box;
  @include calc(min-height, "100% - 45px");
  min-width: 1px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  @include box-shadow(0 1px 2px #ccc);

  .left {
    width: 120px;
    background-color: #ebebeb;
    padding-top: 1em;
    border-right: 1px solid #bbb;

    ul {
      padding: 0;
    }
    li {
      line-height: 25px;
      padding: 0 15px;

      a {
        color: #111;
        text-shadow: none
      }

      a:hover {
        background-color: #f9f9f9;
      }
      &.active {
        a:hover {
          background-color: $linkColor;
        }
        a {
          color: #FFFFFF;
        }
      }
    }

  }

  .right {
    @include box-flex(1);
    margin: 10px;

    .inline {
      height: 23px;
      line-height: 23px;
      vertical-align: 10px;
    }

    input.inline {
      margin: 0;
    }

    ul.chzn-choices {
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
      @include transition(border linear 0.2s, box-shadow linear 0.2s);
      border-radius: 4px;
      height: 16px;
      color: #555;

    }

    .chzn-container-active {
      ul.chzn-choices {
        @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(143, 178, 222, 0.6));
        border-color: rgba(143, 178, 222, 0.8);
        outline: 0;
      }
    }

    .button {
      height: 30px;
      line-height: 15px;
      vertical-align: 11px;
      margin: 0 5px;
    }

    select {
      width: 300px;
    }
  }
}

// Process Execution view

#processExecution, #messagesContent {
  ul.nav.nav-tabs {
    border-bottom: 0;
    margin-bottom: 0;

    li {
      display: block;
      padding: 0;
      margin-right: 5px;
      border-radius: 5px 5px 0 0;

      a {
        padding: 8px 25px;
        margin: 0;
        border-radius: 5px 5px 0 0;

        &:hover {
          border-bottom: 1px solid #ccc;
        }
      }

      &.active {
        position: relative;
        top: 2px;
        height: 29px;
        border: 1px solid #ccc;
        border-bottom: none;

        @include box-shadow(0 0 3px #ccc);

        a {
          height: 15px;
          @include gradient-vertical(#fff, #f8f8f8);
          border: none;
        }
      }
    }
  }
}

#executionContent {
  @include calc(height, "100% - 120px");
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  @include box-shadow(0 0 3px #ccc);

  &.first-tab-selected {
    border-radius: 0 5px 5px 5px;
  }

  .content {
    padding: 5px;
    @include calc(height, "100% - 36px");

    &.flexbox {
      padding: 0;
    }

    .fluid {
      display: block;
      @include box-flex(1);
      @include box-sizing(border-box);
      height: 100%;
      padding: 5px;
      min-width: 1px;
    }
  }
}

.first-tab-selected .header {
  border-radius: 0 5px 0 0;
}

.btn.btn-primary {
  text-shadow: none;

  &:hover {
    background-color: #453E55;
  }
}

.hide {
  display: none;
}

.save-dropdown {
  li a {
    padding: 6px 20px;
  }
}

.dropdown-menu {
  li a {
    cursor: pointer;

    &:hover {
      text-shadow: 0px 1px #000;
    }
  }

  li.active a {
    &, &:hover {
      text-shadow: 0 1px #000;;
      color: #fff;
    }
  }

  li.disabled a {
    &:hover {
      text-shadow: none;
    }
  }
}

.breadcrumb {
  background-color: #eee;

  .dropdown-menu {
    li {
      display: block;
    }
  }
}

.btn .caret {
  margin-top: 5px;
}

.table-middle {
  td, th {
    vertical-align: middle;
  }
}

a.close {
  cursor: pointer;
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  opacity: 0.2;
  filter: alpha(opacity=20);

  &:hover {
    opacity: 0.75;
    text-decoration: none;
  }
}

.gdrive-modal {
  .loading {
    text-align: center;
    margin: 1em 0 3em 0;
    .icon-large {
      margin-top: 2em;
      display: block;
      font-size: 160%;
    }
  }

  ul {
    text-shadow: none;
  }
}

/** New Dashboard / Processlist view */
#clickablelist .result {
  margin: 10px 0;
}

#clickablelist table {
  width: 100%;
}

#clickablelist  .result tr {
  border: 1px solid #7D7D7D;
  background-color: #fff;
}

#clickablelist  .result tr .item_info {
  position: relative;
  padding: 20px;
}

#clickablelist .result tr .item_info input {
  margin: 10px;
}

#clickablelist .result tbody tr:hover {
  background-color: #FFF6DB;
}

#clickablelist .result tbody .noinstances:hover {
  background-color: #EDEDED;
}

#clickablelist .result td {
  padding: 5px;
}

#clickablelist .result td span a {
  cursor: pointer;
}

#clickablelist .result td .action {
  font-weight: bold;
}

#clickablelist .result td .process {
  font-weight: bold;
}

#clickablelist button {
  padding: 5px 10px;
}

#clickablelist .button_cancel {
  position: absolute;
  right: 5px;
}

/* History */

#history {
  #clickablelist .result {
    td span {
      display: inline;
    }
    thead tr {
      border: 0;
    }
  }

  .event {
    .left {
      float: left;
    }
    .right {
      float: left;
    }
  }
}

.clearable {
  position: relative;
}

.data_field {
  padding-right: 17px; /* add space for the 'x' icon*/
}

span.icon_clear {
  position: absolute;
  right: 21px;
  padding: 3px;
  display: none;

  /* now go with the styling */
  cursor: pointer;
  font: bold 1em sans-serif;
  color: #38468F;
}

span.icon_clear:hover {
  color: #f52;
}

#graphModal {
  width: 800px;
  height: 500px;

  > div {
    width: 800px;
    height: 500px;
    overflow: scroll;
  }
}

#messages {
  height: -moz-calc(100% -120px);
  height: -o-calc(100% -120px);
  height: -webkit-calc(100% -120px);
  height: calc(100% -120px);
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  box-shadow: 0 0 3px #cccccc;
}

#console {
  > h2 {
    margin-bottom: 20px;
  }

  .list {
    position: absolute;

    overflow: scroll;
    float: left;
    width: 240px;
    margin-right: 16px;
    background-color: #eee;

    margin-bottom: 20px;
    max-height: 700px;

    h3 {
      padding: 4px 8px;
      text-align: center;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      font-size: 14px;
    }

    ul li {
      margin: 5px 0;
    }
  }

  .method-container {
    margin-left: 260px;

    .description {
      padding: 10px;
      background-color: #eee;
    }

    .parameters {
      margin: 30px 0;

      input {
        width: 80px;
      }

      .single-parameter {
        padding: 10px;
        background-color: #eee;
        margin-bottom: 2px;
      }

      .parameter-name {
        display: inline-block;
        min-width: 100px;
      }
    }

    .execution {
      > a {
        display: inline-block;
        margin-bottom: 20px;
      }

      > pre {
        min-height: 40px;
        max-height: 240px;
        overflow: scroll;
      }

      .return-description {
        margin-top: 20px;
      }
    }
  }
}

#graph_bv_outer, #graph_cv_outer {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-subject-dropdown li.disabled a {
  pointer-events: none;
}

#process-subject-help {
  position: absolute;
  top: 310px;
  right: 200px;

  width: 314px;
  height: 240px;
  background: url(../images/arrow_process_create_subject.png) bottom right no-repeat;

  > p {
    margin-left: -75px;
    width: 140px;
    border: 1px solid #777;
    padding: 4px;
    margin-top: -25px;
    line-height: 1.4;
    color: #444;
    font-size: 13px;
  }
}

/*!
 * S-BPM Groupware v1.2
 *
 * http://www.tk.informatik.tu-darmstadt.de/
 *
 * Copyright 2012 Johannes Decher, Telecooperation Group @ TU Darmstadt
 * Contact: Stephan.Borgert@cs.tu-darmstadt.de
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/.
 */

/* bootstrap overrides */

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 70px;
}

#main {
  padding-left: 3em;
  margin-bottom: 2em;

  .breadcrumb {
    margin-bottom: 0;
  }
}

#executionContent {
  padding: 10px;
  &.first-tab-selected {
    border-radius: 0 5px 5px 5px;
  }
  background-color: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 3px #CCCCCC;
}

.item_info {
  .table {
      margin:0;
      thead > tr > td  {
        border-top:0;
        border-bottom: 1px solid #DDDDDD;
    }
  }
}

.processhead {
  .col3 {
    text-align:right;
  }
}

#atlwdg-trigger {
  z-index: 9999;
}

.freeow .success .icon {
  background-image: url(../images/freeow-success.png);
}
