/* bootstrap overrides */

html {
  height: 100%;
}

body {
  height: 100%;
  padding-top: 70px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .navbar-default {
    background: #777777 !important;
  }
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left {
    .sidebar-offcanvas {
      left: -50%;
      /* 6 columns */
    }
    &.active {
      left: 50%;
      /* 6 columns */
    }
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}

.navbar-default {
  .navbar-brand {
    color: #fff;
    &:hover, &:focus {
      color: #fff;
    }
  }
  background-image: url(../images/bg_header.png);
  color: #fff;
  .navbar-nav > {
    .active > a {
      color: #fff;
      &:hover, &:focus {
        color: #fff;
      }
    }
    li > a {
      &:hover, &:focus {
        color: #fff;
      }
      color: #fff;
    }
  }
}

.container {
  max-width: 100%;
  #main {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px 6px 6px 6px;
    padding-bottom: 18px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    color: inherit;
    line-height: 2.14286;
    margin-bottom: 30px;
    padding: 20px;
    padding-top: 0;
  }
}

#executionContent {
  padding: 10px;
  &.first-tab-selected {
    border-radius: 0 5px 5px 5px;
  }
  background-color: #FFFFFF;
  border: 1px solid #CDCDCD;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 3px #CCCCCC;
}

#main .breadcrumb {
  margin-bottom: 0;
}