
// Typography
$baseFontSize: 12px;
$baseLineHeight: 14px;

$fa-font-path: "../thirdparty/FontAwesome/fonts";


// Links
// -------------------------
$linkColor:             #4B4F5D;
$linkColorHover:        darken($linkColor, 15%) !default;
