<div id="account">
	<h3 style="color:#525252" >Account</h3>
	<div id="account_info" data-bind="with: currentUser">
		<div >
		<h2><span></span>This is your Account </span><span style="color:#525252" data-bind="text: name"></span><span>!</span></h2>
		</div>
		<table class="table table-striped table-bordered">
			<tbody id="listOfUsers" data-bind="">

				<tr>
					<th>Name</th>
					<td>
					<input type="text" class="inline" data-bind="value: name" />
					</td>
					<td>
					<input type="button" class="button" value="Save changes" data-bind='click: $parent.save' />
					<input type="button" class="button" value="Reset" data-bind='click: $parent.reset' />
					</td>
				</tr>
				<tr>
					<th>Email</th>

					<td style="padding:0px">
					<table data-bind"foreach: currentUser().providerMail" >
						<th>Provider/Email</th>
						<tr>

							<td>
							<input type="text" class="inline" data-bind='value: provider' />
							<input type="text" class="inline" data-bind='value: mail' />
							</td>
							<td>
							<input type="button" class="button" value="Save changes" data-bind='click: $parent.save' />
							<input type="button" class="button" value="Reset" data-bind='click: $parent.reset' />
							</td>

						</tr>
					</table>
					</td>

				</tr>
				<tr>

					<th>Password</th>
					<td style="padding:0px">
					<table >
						<tr>
							<td>Current password</td>
							<td>
							<input type="text" class="inline" data-bind="value: name" />
							</td>
						</tr>
						<tr>
							<td>New password</td>
							<td>
							<input type="text" class="inline" data-bind="value: name" />
							</td>
						</tr>
						<tr>
							<td>Reapeat new password</td>
							<td>
							<input type="text" class="inline" data-bind="value: name" />
							</td>
						</tr>
					</table></td>
					<td>
					<input type="button" class="button" value="Save changes" data-bind='click: $parent.savePassword' />
				
					</td>
				</tr>

			</tbody>

		</table>

	</div>
</div>
