<div class="inner">

	<div id="contentHead">
		<h3>Process Execution</h3>
	</div>

	<span>
		<span data-bind="text: processInstance().process().name()"></span>
		<span class="divider"> / </span>
		<span data-bind="text: processInstance().instanceName()"></span>
		<span class="divider"> / </span>

		<!-- <select id="slctctvSbj" data-placeholder="Select Active Subject"-->
		<!--   class="middle_switch chzn-select" tabindex="1"-->
		<!--   data-bind="options: availableSubjects, optionsText: 'subjectText',-->
		<!--   optionsValue: 'subjectId', value: currentSubject, caption: ''">-->
		<!-- </select>-->
	</span>

	<div id="processExecution">
		<ul class="nav nav-tabs" data-bind="foreach: tabs">
			<li data-bind="css: { active: $data === $root.currentTab() }">
				<a data-bind="text: $data, attr: { href: '#/processinstances/' + $parent.processInstance().id() + '/' + $data }"></a>
			</li>
		</ul>
	</div>
	<div id="executionContent">
	</div>

</div>

