<div class="container-fluid">
<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#">S-BPM Groupware v1.2</a>
</div>
<nav id="navbar" class="navbar-collapse collapse">
	<div class="nav navbar-right hidden-xs" style="padding-top: 5px">
		<a href="http://www.tu-darmstadt.de">
			<img src="images/tu_darmstadt_web.png" alt="TU-Darmstadt"/>
		</a>
		<a href="http://www.tk.informatik.tu-darmstadt.de/">
			<img src="images/tk_HintergrundWeiss_Web.png" alt="Telecooperation Group"/>
		</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<!-- ko ifnot: currentUser() -->
		<li><a href="./login.html"><i class="glyphicon glyphicon-user"></i> Login</a></li>
		<!-- /ko -->
		<!-- ko if: currentUser() -->
		<li class="dropdown">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Welcome  <span data-bind="text: currentUser().name"></span>&nbsp;<span class="badge">42</span>&nbsp;<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#/account">Profile</a></li>
				<li><a href="#" data-bind="click: oauth2callback" data-chardin-position="bottom" data-chardin-intro="Linking your account with Google allows you to sign-in through Google and use Google Drive to uplaod attachments for actions.">
						Link account to Google
					</a></li>
					<li class="divider"></li>
					<li><a href="" data-bind="click:logout">Sign Out</a></li>
			</ul>
		</li>
		<!-- /ko -->
		<li><a href="#/administration" data-chardin-position="bottom" data-chardin-intro="Create new user accounts, groups, roles and reset the system">Administration</a></li>
		<li><a href="#" data-bind="click: showHelp"><i class="glyphicon glyphicon-question-sign"></i></a></li>
	</ul>
</nav>
</div>
