<div>
<div id="dashboard">
	<div data-chardin-intro="This is your Dashboard." data-chardin-position="bottom">
		<h1>S-BPM Groupware v1.2</h1>
		<div class="row" id="filter">
			<div class="col-sm-3">
				<select class="form-control" data-placeholder="Filter User" data-bind="options: availableUsers, optionsText: 'name', optionsValue: 'id', value: selectedUser, optionsCaption: '', chosen: { allow_single_deselect: true }"></select>
			</div>
			<div class="col-sm-3">
				<select class="form-control" data-placeholder="Filter Process" data-bind="options: availableProcesses, optionsText: 'name', optionsValue: 'name', value: selectedProcess, optionsCaption: '', chosen: { allow_single_deselect: true }"></select>
			</div>
			<div class="col-sm-2">
				<select class="form-control" data-placeholder="Filter Statetype" data-bind="options: availableStatetypes, value: selectedStatetype, optionsCaption: '', chosen: { allow_single_deselect: true }"></select>
			</div>
			<div class="col-sm-2">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">From:</span>
					<input class="form-control" type="text" id="from" name="from" data-bind="value: selectedStart, datepicker: { autoclose: true, clearBtn: true }" />
				</div>
			</div>
			<div class="col-sm-2">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">To:</span>
					<input class="form-control" type="text" id="to" name="to" data-bind="value: selectedEnd, datepicker: { autoclose: true, clearBtn: true }"/>
				</div>
			</div>
		</div>

		<div id="notification" style="display: none;">
			<h1>Notification box</h1>
			<span>Notification message</span>
			<div id="notification_close" onclick="this.parentNode.style.display = 'none';">x</div>
		</div>

		<hr>

		<div id="processExecution">
			<ul class="nav nav-tabs">
				<!-- ko  foreach: tabs -->
				<li data-bind="css: { active: $data === $root.currentTab() }">
					<!-- ko if: $data=="Actions"-->
					<a data-bind="text: $data+' ('+$root.actionCount()+')', attr: { href: '#/home/' + $data }"></a>
					<!-- /ko -->
					<!-- ko ifnot: $data=="Actions" -->
					<a data-bind="text: $data, attr: { href: '#/home/' + $data }"></a>
					<!-- /ko -->
				</li>
				<!-- /ko -->
				<li>
					<select id="slctProcess" data-placeholder="Start Process" data-bind="options: startableProcesses, optionsText: 'name', optionsCaption: '', value: startProcessId, optionsValue: 'id', chosen: { disable_search_threshold: 10, allow_single_deselect: true }"></select>
				</li>
			</ul>
		</div>
		<div id="executionContent">
		</div>
	</div>
</div>

<div id="processNameModal" class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
			<form data-bind="submit: newInstance">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>Process Name</h3>
				</div>
				<div class="modal-body">
					<input type="hidden" name="processId" value="" />
					<input name="instancename" class="form-control" type="text" />
				</div>
				<footer class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Start" />
				</footer>
			</form>
		</div>
	</div>
</div>
