<div id="dashboard">
  <div data-chardin-intro="This is your Dashboard." data-chardin-position="bottom" class="pull-left" style="min-width: 96%">
    <h3>S-BPM Groupware v1.2</h3>
    <div id="filter" class="btn-group">
      <select data-bind="options: availableUsers, optionsText: 'name', optionsValue: 'id', value: selectedUser, optionsCaption: 'Select User'"></select>
      <select data-bind="options: availableProcesses, optionsText: 'name', optionsValue: 'name', value: selectedProcess, optionsCaption: 'Select Process'"></select>
      <select data-bind="options: availableStatetypes,  value: selectedStatetype, optionsCaption: 'Select Statetype'"></select>
      <label for="from">From</label>
      <input type="text" id="from" name="from" data-bind="value: selectedStart" />
      <label for="to">to</label>
      <input type="text" id="to" name="to" data-bind="value: selectedEnd"/>
    </div>

    <div id="notification" style="display: none;">
      <h1>Notification box</h1>
      <span>Notification message</span>
      <div id="notification_close" onclick="this.parentNode.style.display = 'none';">x</div>
    </div>

    <hr>

    <div id="processExecution">
      <ul class="nav nav-tabs">
      	<!-- ko  foreach: tabs -->
        <li data-bind="css: { active: $data === $root.currentTab() }">
        	<!-- ko if: $data=="Actions"-->
        		<a data-bind="text: $data+' ('+$root.actionCount()+')', attr: { href: '#/home/' + $data }"></a>
        	<!-- /ko -->
        	<!-- ko ifnot: $data=="Actions" -->
        		<a data-bind="text: $data, attr: { href: '#/home/' + $data }"></a>
        	<!-- /ko -->
        </li>
        <!-- /ko -->
		<li>
			<select class="sel" data-placeholder="Start Process" data-bind="options: startableProcesses, optionsText: 'name', value: startProcessId, optionsValue: 'id'"></select>
		</li>
      </ul>
    </div>
    <div id="executionContent">
    </div>
  </div>
</div>

<div id="processNameModal" class="modal hide" tabindex="-1">
	<div class="modal-header">
		<a type="button" class="close pull-right" data-dismiss="modal">x</a>
		<h3>Process Name</h3>
	</div>
	<div class="modal-body">
		<form data-bind="submit: newInstance">
      <div data-bind="visible: showForm">
		   <input type="hidden" name="processId" value="" />
		   <input name="instancename" type="text"  style="width:250px;" />
      </div>
      <div data-bind="visible: offerNotCompleted">
          <strong>Process can not be started unless every interface is implemented.</strong>
      </div>
      <div data-bind="visible: showImplementations">
          <div data-bind="foreach: startInterfaceSubjects">
              <label data-bind="text: $data.name">
              </label>
              <select data-bind="options: $data.imps, optionsText: 'id', optionsValue: 'id'"></select>
          </div>
      </div>
      <div data-bind="visible: showForm">
			  <input type="submit" value="Start" />
      </div>
		</form>
	</div>
</div>
