<div>
<a id="hide_menu" data-toggle="left_menu">&laquo;</a>
<ul class="nav" id="main_menu">
	<li data-bind="visible: visible().home" data-intro="The dashboard
	gives you an overview of running processes, pending actions, a history and
	general information and notifications." data-position="right">
        <a href="#/home" class="link">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span> Dashboard
        </a>
    </li>
    <li data-intro="Opens the processes list where processes can be
	instanciated (executed), new processes be made and existing processes be
	edited." data-position="right">
        <a id="processList" href="#/processList" class="link">
			<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> List of Processes
        </a>
    </li>
    <li data-intro="Creating a new process can either be done manually or
	with help of a wizzard that allows you to get started quickly with simple
	processes." data-position="right">
        <a id="newProcess" href="#/processes/new" class="link">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create new process
        </a>
    </li>
    <li data-intro="This is the internal messaging system where you can send and receive messages from other users"
        data-position="right">
        <a href="#/messages" class="link">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Messages
        </a>
    </li>
    <li data-intro="This is the interactive API console where you can try all APIs"
        data-position="right">
        <a href="#/console" class="link">
			<span class="glyphicon glyphicon-console" aria-hidden="true"></span> Console
        </a>
    </li>
</ul>

<br class="clear"/>
<br class="clear"/>
<br class="clear"/>

<div class="text-center" id="calendar" data-position="right" data-intro="This is a nice calendar, isn't it? Later on this will somehow be linked with Google Calendar.">
</div>
</div>
