.pull-left
	h2 Create new process

	.flexbox
		form.span3( data-bind="submit: createProcess" )
			.control-group( data-bind=" css: { error: processValid } " )
				label( for="new_process" ) Name
				input#new_process( type="text", style="width:180px;",
					data-bind="value : processName, valueUpdate:'afterkeydown'")
				ul.errors( data-bind="visible: processValid" )
					li Process already exists! Please choose a different name.
				script
					document.getElementById("new_process").focus();

			label.radio
				input( type="radio", name="processType", value="process",
					data-bind="checked: processType" )
				| Create Process
			label.radio
				input( type="radio", name="processType", value="case",
					data-bind="checked: processType" )
				| Create Case
			label.checkbox
				input( type="checkbox", name="Table", value="Table",
					data-bind="checked: displayTable, disable: isCase" )
				| Use Table

		.fluid
			#quick_table( data-bind="visible: displayTable" )

	.form-actions
		input( type="submit", value="Accept", data-bind="disable: processValid" )
		input( type="button", value="Cancel", onclick="history.back()" )
