<div class="inner">

	<div id="contentHead">
		<h3 id="processName" data-bind="text: currentProcess().name "></h3>
	</div>

	<div id="graph">
		<!-- <h2 id="process_name" style="color:#525252" data-bind="text: activeView "></h2>-->
		<!-- Begin graph window -->
		<div class="onecolumn">
			<div class="header">
				<ul class="nav pull-right" id="graphZoomButtons">
					<li class="zoombutton">
						<input id="zoominbutton" type="button" onclick="gf_paperZoomIn();" value="Zoom In" />
					</li>
					<li class="zoombutton">
						<input id="zoomoutbutton" type="button" onclick="gf_paperZoomOut();" value="Zoom Out" />
					</li>
					<li class="zoombutton">
						<input id="reset-button" type="button" onclick="gf_paperZoomReset();" value="Reset zoom" />
					</li>
					<li>
						<input id="help-button" type="button" href="help.html" value="Help" data-bind="fancybox : {width : '30', height : '41'}"/>
					</li>
				</ul>
				<ul class="nav" id="switch">
					<li>
						<input type="button"	id="tab2" name="tab2" class="left_switch" value="Subject-Interaction-View" />
					</li>

					<li>
						<div class="tab-dropdown">
							<select id="slctSbj" data-placeholder="Select Internal Behavior"
								class="middle_switch chzn-select" tabindex="1"
								data-bind="options: availableSubjects, optionsText: 'subjectText',
								optionsValue: 'subjectID', value: currentSubject, caption: ''">
							</select>
						</div>
					</li>

					<li>
						<div class="tab-dropdown">
							<select id="slctChan" data-placeholder="Select Channel"
								onchange="//gf_selectChannel($('#slctChan option:selected').attr('id'));"
								class="middle_switch chzn-select" tabindex="1"
								data-bind="options: availableChannels, optionsText: 'text',
								optionsValue: 'channelID', value: currentChannel, caption: ''">
							</select>
						</div>
					</li>

					<li>
						<div class="tab-dropdown" style="display: none;">
							<select id="slctMacro" data-placeholder="Select Macro"
								onchange="//gf_selectMacro($('#slctMacro option:selected').attr('id'));"
								class="middle_switch chzn-select" tabindex="1"
								data-bind="options: availableMacros, optionsText: 'value',
								optionsValue: 'id', value: currentMacro, caption: ''">
							</select>
						</div>
					</li>
					<li>
						<input type="button" id="tab3" name="tab3" class="right_switch" value="Person in charge" style="width:135px"/>
					</li>
				</ul>
			</div>


			<!-- data-bind="template: { name: SBPM.VM.processVM.activeView().name, data: SBPM.VM.processVM.activeView().data , afterRender : SBPM.VM.processVM.activeView().afterRender}" -->
			<div id="processContent" >
				<div id="tab1_content" class="tab_content hide"></div>
				<div id="tab2_content" class="tab_content"></div>
			<!--   <div id="tab3_content" class="tab_content hide" data-bind="templateWithListeners: { name: chargeVM.name, data: chargeVM, listeners: SBPM.Mediator.subviewListeners['chargeView']}"></div>-->

			</div>

		</div>
	</div>

</div>

