<div class="inner">
<div id="contentHead">
	<h3 id="processName" data-bind="text: currentProcess().name "></h3>
</div>

<ul class="breadcrumb">
	<li><a href="#/processList">Processes</a></li>
	<!-- ko ifnot: currentSubject() -->
	<li class="active"><span data-bind="text: currentProcess().name()"></span></li>
	<!-- /ko -->
	<!-- ko if: currentSubject() -->
	<li><a data-bind="text: currentProcess().name(), attr: {
	href: currentProcess().url() }"></a>
	</li>
	<li class="active">
		<span data-bind="text: currentSubjectName()"></span>
	</li>
	<!-- /ko -->
</ul>

<div id="graph">
	<!-- <h2 id="process_name" style="color:#525252" data-bind="text: activeView "></h2>-->
	<!-- Begin graph window -->
	<div id="row">
		<div class="col-md-12">
			<div class="header nav nav-tabs">

				<div class="pull-right" id="processHelpButtons">
					<a id="help-button" class="btn btn-small" href="help.html"
											   data-bind="fancybox : {width : '30', height : '41'}" >
											   ?
					</a>
				</div>

				<div class="btn-group" id="switch">
					<button id="tab2" class="btn" data-bind="click: goToRoot"
								   data-chardin-intro="Go back to Process Overview" data-chardin-position="top">
						Subject-Interaction-View
					</button>

					<div class="btn-group" data-chardin-intro="Choose subject to modify its internal behaviour."
							data-chardin-position="bottom">
						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<!-- ko ifnot: currentSubject() -->
							Select Internal behavior
							<!-- /ko -->
							<!-- ko if: currentSubject() -->
							<span data-bind="text: currentSubjectName()"></span>
							<!-- /ko -->
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu save-dropdown" data-bind="foreach: availableSubjects">
							<li data-bind="css: { active: $parent.currentSubject() == $data['subjectId'] }">
								<a data-bind="attr: { href: $parent.currentProcess().url() +
								'/' + $data['subjectId'] }, text: $data['subjectText']">
								</a>
							</li>
						</ul>
					</div>

					<div class="btn tab-dropdown" data-chardin-intro="Filter by conversation"
								   data-chardin-position="top">
						<select id="slctCon" data-placeholder="Select conversation"
						   class="middle_switch chzn-select" tabindex="1"
										   data-bind="options: availableConversations, optionsText: 'text',
										   optionsValue: 'conversationID',
										   value: currentConversation, caption: ''">
						</select>
					</div>
					<div id="slctMacroDropDown" class="btn tab-dropdown" style="display: none;">
						<select id="slctMacro" data-placeholder="Select Macro"
							 class="middle_switch chzn-select" tabindex="1"
										  data-bind="options: availableMacros, optionsText: 'value',
										  optionsValue: 'id', value: currentMacro, caption: ''">
						</select>
					</div>

					<!-- <button id="tab3" class="btn" data-bind="click: goToRoutings" -->
					<!--         data-chardin-intro="Show routing table." data-chardin-position="bottom"> -->
					<!--   Routing -->
					<!-- </button> -->
					<div class="btn-group" data-chardin-intro="Save, save as... or discard changes."
							data-chardin-position="top">
						<a class="btn" data-bind="click: saveCurrentProcess" title="Save Process">
							<i class="icon-save icon-large"></i> Save
						</a>

						<a class="btn dropdown-toggle" data-toggle="dropdown">
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu save-dropdown">
							<li>
								<a data-bind="click: saveCurrentProcess" title="Save Process">
									<i class="icon-save icon-large"></i> Save
								</a>
							</li>
							<li>
								<a href="#saveAsModal" id="saveProcessAsButton" data-toggle="modal">
									<i class="icon-copy icon-large"></i> Save As
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#" id="resetProcessButton" data-bind="click: resetProcess">
									<i class="icon-undo icon-large"></i> Discard Changes
								</a>
							</li>
						</ul>
					</div>

					<div class="btn-group" data-chardin-intro="Save or load Business Interfaces"
							data-chardin-position="bottom" style="margin-left: 0;">
						<a class="btn dropdown-toggle" data-toggle="dropdown"
									 style="border-left: 1px solid #bbbbbb;">
							<i class="icon-cloud icon-large"></i>
							Business Interfaces
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu save-dropdown">
							<li>
								<a href="#saveBusinessInterfaceModal" data-toggle="modal">
									<i class="icon-cloud-upload icon-large"></i> Save Interface
								</a>
								<a href="#loadBusinessInterfaceModal" data-toggle="modal">
									<i class="icon-cloud-download icon-large"></i> Load Interface
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="saveAsModal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a type="button" class="close" data-dismiss="modal">x</a>
							<h3>Save Graph As</h3>
						</div>
						<div id="saveProcessAs" class="modal-body">
							<label for="newProcessName">New Process Name</label>
							<input id="newProcessName" type="text"
								  data-bind="value: newProcessName, valueUpdate:'afterkeydown' "/>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal">Close</button>
							<button class="btn btn-primary" data-dismiss="modal"
									   data-bind="click: saveCurrentProcessAs">
								Save Process
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div id="saveBusinessInterfaceModal" class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">	
						<div class="modal-header">
							<a class="close" href="" type="button" data-dismiss="modal">x</a>
							<h3>Save Business Interface</h3>
						</div>
						<div id="saveBusinessInterface" class="modal-body">
							<div class="form-horizontal">
								<div class="control-group">
									<label class="control-label" for="interfaceName">
										Choose Interface Subject
									</label>
									<div class="controls">
										<select id="interfaceSubject"
				  data-bind="options: availableInterfaces, optionsValue: 'id',
				  optionsText: 'name', value: interfaceReplacementSubject">
										</select>
									</div>
								</div>
								<div class="control-group" data-bind="css: { error: businessInterfaceNameError }">
									<label class="control-label" for="interfaceName">
										Interface Name
									</label>
									<div class="controls">
										<input id="interfaceName" type="text"
									data-bind="value: newBusinessInterfaceName, valueUpdate: 'afterkeydown'" />
										<div class="errors" data-bind="text: businessInterfaceNameError">
										</div>
									</div>
								</div>
								<hr />
								<div class="control-group">
									<label class="control-label" for="interfaceName">Interface Author</label>
									<div class="controls">
										<input id="interfaceName" type="text"
									data-bind="value: newBusinessInterfaceAuthor, valueUpdate: 'afterkeydown'" />
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn" data-dismiss="modal">Close</button>
							<button class="btn btn-primary" data-dismiss="modal"
									   data-bind="click: saveBusinessInterface,
									   css: { disabled: businessInterfaceNameError },
									   disable: businessInterfaceNameError">
								Save Business Interface
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<div id="loadBusinessInterfaceModal" class="modal hide" tabindex="-1"
														   style="margin-left: -425px; width: 850px;">
				<div class="modal-header">
					<a class="close" href="" type="button" data-dismiss="modal">x</a>
					<h3>Load Business Interface</h3>
				</div>
				<div id="loadBusinessInterface" class="modal-body">
					<div class="interface-select pull-left" data-bind="foreach: existingInterfaces">
						<div class="interface-entry"
		   data-bind="click: $parent.selectBusinessInterface,
		   css: { active: $parent.selectedInterfaceId() == $data.id() }">
							<strong data-bind="text: name"></strong>
							<em data-bind="text: creator"></em>
						</div>
					</div>
					<div class="interface-preview pull-left" data-bind="visible: selectedInterface">
						<h4>Interface Name</h4>
						<p data-bind="text: selectedInterfaceName"></p>
						<h4>Author</h4>
						<p data-bind="text: selectedInterfaceCreator"></p>
						<!-- <h4>Description</h4> -->
						<!-- <p data-bind="text: selectedInterfaceDescription"></p> -->
						<h4>Insertion Behavior</h4>
						<select data-bind="options: availableInterfaces, optionsText: 'name',
						optionsValue: 'id', optionsCaption: 'New Interface'">
						</select>
						<!-- <h4>Preview</h4> -->
						<!-- <img src="/sbpm/images/internal.png" heigh="400" width="400" -->
						<!--      data-bind="visible: selectedInterface" /> -->
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" data-bind="click: resetInterfaceSelection">Close</button>
					<button class="btn btn-primary" data-dismiss="modal"
									 data-bind="click: loadBusinessInterface, disable: noInterfaceSelected">
						Insert Business Interface
					</button>
				</div>
			</div>

			<!-- data-bind="template: { name: SBPM.VM.processVM.activeView().name,
	   data: SBPM.VM.processVM.activeView().data ,
	   afterRender : SBPM.VM.processVM.activeView().afterRender}" -->
	   <div id="processContent">
		   <ul class="list-inline" id="graphZoombuttons">
			   <li>
				   <a onclick="gf_paperZoomIn();" >+</a>
			   </li>
			   <li>
				   <a onclick="gf_paperZoomOut();" >&minus;</a>
			   </li>
			   <li>
				   <a onclick="gf_paperZoomReset();" >±</a>
			   </li>
		   </ul>
		   <div class="tab-content">
			   <div id="tab1_content" class="tab_pane hide"></div>
			   <div id="tab2_content" class="tab-pane active"></div>
			   <div id="tab3_content" class="tab-pane hide" ></div>
		   </div>
	   </div>

		</div>
	</div>
</div>
</div>
