<div class="inner">

	<div id="contentHead" class="clearfix">
		<h3 id="processName" style="color:#525252" >
			Currently available Processes
		</h3>
	</div>
	<!-- End header -->
	<div id="filter">
		<select class="sel" data-placeholder="Select Process" data-bind="options: availableProcesses, optionsText: 'name', optionsValue: 'id'"></select>
		<label for="from">From:</label>
	    <input type="text" id="from" name="from" data-bind="value: selectedStart" />
	    <label for="to">To:</label>
	    <input type="text" id="to" name="to" data-bind="value: selectedEnd"/>
    </div>
<hr> 
	<div id="clickablelist">
		<table class="table table-middle result processlist">
			<thead>
				<tr class="processhead">
					<th class="col1"> Name </th>
					<th  colspan="2" class="col2"> Actions </th>
				</tr>
			</thead>
			<tbody data-bind='foreach: processes'>
				<tr class="processitem" data-bind="click:  function() { if($data.hasInstances) $('#'+id()).toggle(); }, style: { cursor: $data.hasInstances() ? 'pointer' : '' } ">
					<td class="col1">
						<a data-bind="click:  function() { window.location.href=url();  }, text: menuName()"></a> (<span data-bind="text: instanceCount"></span>)
					</td>
					<td class="col2">
						<div class="btn-group">
							<a class="btn" href="#" data-bind="click: $parent.showProcessNameModal, css: { disabled: !$data.startAble() }">Start new Instance</a>
						</div>
						<div class="btn-group">
							<a class="btn" data-bind="click:  function() { window.location.href=url();  }">Edit</a>
						</div>
						<div class="btn-group">
							<button class="btn" data-bind="click: $parent.remove">Delete</button>
						</div>
					</td>
				</tr>
				<!-- ko if: $data.hasInstances -->
				<tr style="display: none;" data-bind="attr: {id: id()}" class="instances">
					<td colspan="4" class="item_info">
						<!-- ko foreach: $data.processInstances -->
							<table style="border:0;" >
								    <tr>
								      <td class="col1">
								        <!-- ko if: executable() -->
								        <img src="images/icons/circle-green-24-ns.png" title="Action required"/>
								        <!-- /ko -->
								
								        <!-- ko if: (!executable() && hasActions()) -->
								        <img src="images/icons/circle-yellow-24-ns.png" title="Waiting for other user"/>
								        <!-- /ko -->
								
								        <!-- ko if: !executable() && !hasActions() -->
								        <img src="images/icons/circle-red-24-ns.png" title="completed"/>
								        <!-- /ko -->
								
								      </td>
								      <td class="col2">						
										<strong>Name: </strong><a data-bind="attr: { href: url() }"><span data-bind="text: name"></span></a><br />
										<strong>Start: </strong> <span data-bind="text: moment(startedAt().date).format('LL')"></span>
								      </td>
								      <td class="col3">
						                <strong>Owner: </strong><span data-bind="text: ownerUser().name()"></a><br />
						            </td>
						            <td class="col4">
						                <a href="" data-bind="click: $parents[1].removeInstance"><img src="images/icons/cross.png" title="Delete" width="28" /></a>
						            </td>
								</tr>
							</table>
							<!-- ko if: ($index() !== parseInt($parent.instanceCount()-1)) -->
							<hr>
							<!-- /ko -->
						<!-- /ko -->
					</td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>

		<div class="form-actions">
			<a class="btn" href="#/processes/new" style="line-height: 20px;">
				<i class="icon-plus"></i>
				Create New Process
			</a>
		</div>
	</div>

</div>
<div id="processNameModal" class="modal hide" tabindex="-1">
	<div class="modal-header">
		<a type="button" class="close pull-right" data-dismiss="modal">x</a>
		<h3>Process Name</h3>
	</div>
	<div class="modal-body">
		<form data-bind="submit: newInstance">
			<input type="hidden" name="processId" value="" />
			<input name="instancename" type="text"  style="width:250px;" />
			<input type="submit" value="Start" />
		</form>
	</div>
</div>
