<div class="inner">

	<div id="contentHead" class="clearfix">
		<h3 id="processName" style="color:#525252" >
			Currently available Processes
		</h3>
	</div>
	<!-- End header -->

	<div id="clickablelist">
		<table class="table table-middle result">
			<thead>
				<tr>
					<th style="width: 60%" > Name </th>
					<th  colspan="2" style="width: 40%"> Actions </th>
				</tr>
			</thead>
			<tbody data-bind='foreach: processes'>
				<tr data-bind="click:  function() { if($data.hasInstances) $('#'+id()).toggle(); }, style: { cursor: $data.hasInstances() ? 'pointer' : '' } ">
					<td>
						<a data-bind="attr: { href: url() }, text: menuName()"></a> (<span data-bind="text: instanceCount"></span>)
					</td>
					<td>
							<div class="btn-group">
								<a class="btn" href="#" data-bind="click: $parent.showProcessNameModal">Start new Instance</a>
							</div>
							<div class="btn-group">
								<a class="btn" data-bind="attr: { href: url() }">Edit</a>
							</div>
							<div class="btn-group">
								<button class="btn" data-bind="click: $parent.remove">Delete</button>
							</div>
						</div>
					</td>
				</tr>
				<!-- ko if: $data.hasInstances -->
				<tr style="display: none;" data-bind="attr: {id: id()}">
					<td colspan="4" class="item_info">
						<!-- ko foreach: $data.processInstances -->
								<a data-bind="attr: { href: url() }">
									Instance <span data-bind="text: name"></span><br />
								</a>
						<!-- /ko -->
					</td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>

		<div class="form-actions">
			<a class="btn" href="#/processes/new" style="line-height: 20px;">
				<i class="icon-plus"></i>
				Create New Process
			</a>
		</div>
	</div>

</div>
<div id="processNameModal" class="modal hide" tabindex="-1">
	<div class="modal-header">
		<a type="button" class="close pull-right" data-dismiss="modal">x</a>
		<h3>Process Name</h3>
	</div>
	<div class="modal-body">
		<form data-bind="submit: newInstance">
			<input type="hidden" name="processId" value="" />
			<input name="instancename" type="text"  style="width:250px;" />
			<input type="submit" value="Start" />
		</form>
	</div>
</div>
