<div id="graph_cv_outer" style="overflow:auto; height:700px; width: 800px; float: left;"></div>

<div class="graphmenu">
	<div class="graphsettings" id="subjectMenu">
		<span id="graphmenuheader">Subject settings</span>
		<br/>
		<label class="warning" id="AssignRoleWarning">You have to assign a role before you can enter a text.</label>
		<br/>
		<label class="graphsectionheader">Subject Name:</label>
		<br/>
		<input id="ge_cv_text" style="width:140px">
		</input>
		<br/>
		<label class="graphsectionheader" data-bind="text: assignedRoleText">Assigned-Role:</label>
		<br/>
		<select id="ge_cv_id" style="width:140px">
		</select>
		<br/>
		<label class="graphsectionheader">Input Pool:</label>
		<br/>
		<input type="text" id="ge_cv_inputPool" name="ge_cv_inputPool" style="width:140px"/>
		<br/>
		<div class="graphsectionheader" id="subjectType">
			<label class="graphsectionheader">Subject type:</label>
			<br/>
			<input type="checkbox" id="ge_cv_type_multi" name="ge_cv_type_multi" />
			Multi
			<br/>
			<input type="checkbox" id="ge_cv_type_external" name="ge_cv_type_external" />
			External
			<br/>
		</div>

		<div style="display:none;" id="ge_cv_relatedOuter">
			<label class="graphsectionheader">Type of External Subject:</label>
			<br />
			<div style="text-align:left;">
				<input type="radio" id="ge_cv_external_external" name="ge_cv_external_type" />
				<label align="left" class="graphsectionheader">External Subject</label>
				<br />
				<input type="radio" id="ge_cv_external_interface" name="ge_cv_external_type" />
				<label align="left" class="graphsectionheader">Interface</label>
				<br />
				<input type="radio" id="ge_cv_external_instantInterface" name="ge_cv_external_type" />
				<label align="left" class="graphsectionheader">Instant Interface</label>
			</div>
			<br />
		
			<label class="graphsectionheader">Related Process:</label>
			<br />
      <select  id="ge_cv_relatedProcess" data-bind="options: availableProcesses, optionsText: 'name', optionsValue: 'name', optionsCaption: 'Select a process...'" style="width:140px" ></select>
			<br />
			<label class="graphsectionheader">Related Subject:</label>
			<br />
			<input type="text" id="ge_cv_relatedSubject" style="width:140px" />
		</div>
		
		<br/>
		<label class="graphsectionheader">Comment:</label>
		<br/>
		<textarea id="ge_subject_comment" style="width: 140px;"></textarea>
		<br/>
		<br/>
		
		<input type="button" id="UpdateSubjectButton" class="graphmenubutton" data-bind="tooltip : 'Macro : Press &#34;U&#34;'" onclick="gv_graph.updateNode(); updateListOfSubjects();" value="Update subject" />
		<br/>
		
		<br />
		<label class="graphsectionheader">Node functions:</label>
		<br/>
		<input type="button" id="AddSubjectButton" class="graphmenubutton" data-bind="tooltip : 'Macro : Press &#34;A&#34;'" onclick="gv_graph.createNode(); updateListOfSubjects();" value="Add subject" />
		<br/>
		<input type="button" id="DeleteSubjectButton" class="graphmenubutton" data-bind="tooltip : 'Macro : Press &#34;D&#34;'" onclick="gv_graph.deleteNode(); updateListOfSubjects();" value="Delete subject" />
		<br/>
		<input type="button" id="DeactivateSubjectButton" class="graphmenubutton" data-bind="tooltip : 'Macro : Press &#34;I&#34;'" onclick="gf_deactivateNode();" value="De-/Activate subject" />
		<br/>
		
<!--
		<br/>
		<input type="button" class="graphmenubutton" onclick="SBPM.Dialog.YesNo('Warning', 'Do you really want to clear the graph?', function(){gv_graph.clearGraph();parent.$.fancybox.close();});" value="Clear graph" />
		<br/>
-->

	</div>
	
</div>

