<div>
	<div class="graphsettings">
		<div class="panel panel-default">
			<div class="panel-heading">Subject settings</div>
			<div class="panel-body">
				<p class="warning" data-bind="if: isShowRoleWarning">
				You have to assign a role before you can enter a text.
				</p>

				<div data-intro="Edit attributes of the currently selected subject." data-position="left">
					<label class="graphsectionheader">Subject Name:</label>
					<input type="text" data-bind="value: selectedSubjectText" title="Name of a role instance"/>

					<label class="graphsectionheader">Subject Id:</label>
					<input type="text" data-bind="value: selectedSubjectId" title="Id of the subject. Only change if you know what you are doing" disabled />

					<label class="graphsectionheader" data-bind="text: assignedRoleText">Assigned-Role:</label>
					<select title="Assign a specific role to a subject"
			 data-bind="value: selectedSubjectRole, options: rolesOrUsers, optionsValue: 'name', optionsText: 'name'">
					</select>
				</div>
				<label class="graphsectionheader">Input Pool:</label>
				<input type="text" data-bind="value: selectedInputPool" title="Size of the Input Pool"/>

				<div id="subjectType" data-intro="Choose subject type. MULTI allows multiple instances of one subject."
						  data-position="left">
					<label class="graphsectionheader">Subject type:</label>
					<label class="checkbox" title="Are there multiple instances of this subject?">
						<input type="checkbox" data-bind="checked: selectedSubjectType" value="multi" />
						Multi
					</label>
					<label class="checkbox" title="Does the subject come from without this Process or Case">
						<input type="checkbox" data-bind="checked: selectedSubjectType" value="external" />
						External
					</label>
					<label class="checkbox" title="Can the subject start a process / case instance?">
						<input type="checkbox" data-bind="checked: selectedSubjectType" value="start" />
						Start Subject
					</label>
				</div>

				<div data-bind="visible: _.contains(selectedSubjectType(), 'external')">
					<label class="graphsectionheader">Type of External Subject:</label>

					<div style="text-align:left;">
						<label align="left" class="checkbox">
							<input type="radio" data-bind="checked: selectedExternalType" value="external" />
							External Subject
						</label>

						<label align="left" class="checkbox">
							<input type="radio" data-bind="checked: selectedExternalType" value="interface" />
							Interface
						</label>

						<label align="left" class="checkbox">
							<input type="radio" data-bind="checked: selectedExternalType" value="instantinterface" />
							Instant Interface
						</label>

						<label align="left" class="checkbox">
							<input type="radio" data-bind="checked: selectedExternalType" value="blackbox" />
							Blackbox Content
						</label>
					</div>

					<div data-bind="visible: selectedExternalType() === 'blackbox'">
						<label class="graphsectionheader">Blackbox Name:</label>
						<input type="text" data-bind="value: selectedBlackboxName" />
					</div>

					<div data-bind="visible: selectedExternalType() === 'external'">
						<label class="graphsectionheader">Related Process:</label>
						<select data-bind="value: selectedRelatedProcess, options: availableProcesses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a process...'"></select>
					</div>

					<div style="display: none;">
						<label class="graphsectionheader">Related Subject:</label>
						<input type="text" id="value: selectedRelatedSubject" />
					</div>
				</div>

				<div id="subjectType" data-intro="Can be used for remarks regarding the currently selected subject."
						  data-position="left">
					<label class="graphsectionheader">Comment:</label>
					<textarea data-bind="value: selectedSubjectComment" title="Miscellaneous annotations"></textarea>
				</div>

				<div id="subjectButtons" data-intro="Add (Shortcut: [A]) or delete [D] subject."
						  data-position="left">
					<button class="btn btn-default" id="AddSubjectButton" data-toggle="tooltip" title="Shortcutkey: &#34;A&#34;" onclick="gv_graph.createNode();">
						<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add subject
					</button>
					<button class="btn btn-default" id="UpdateSubjectButton" data-toggle="tooltip" title="Shortcutkey: &#34;U&#34;" onclick="gv_graph.updateNode();">
						<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update subject
					</button>
					<button class="btn btn-default" id="DeactivateSubjectButton" data-toggle="tooltip" title="Shortcutkey: &#34;I&#34;" onclick="gf_deactivateNode();">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span> De-/Activate subject
					</button>
					<button class="btn btn-danger" id="DeleteSubjectButton" data-toggle="tooltip" title="Shortcutkey: &#34;D&#34;" onclick="gv_graph.deleteNode();">
						<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span> Delete subject
					</button>
				</div>

				<div id="mergeSubjects" data-bind="visible: _.contains(selectedSubjectType(), 'multi') === false">
					<label class="graphsectionheader">Merge Subject with</label>
					<select id="mergeSubjectsSelect" title="Assign a specific role to a subject"
									  data-bind="options: mergeSubjects, value: mergeSubject, optionsValue: 'subjectId', optionsText: 'subjectText'">
					</select>
					<input type="button" id="mergeSubjectsButton"
						  data-bind="click: mergeSubjectHandler" value="Merge Subjects"/>
				</div>

				<br/>
			</div>
		</div>
	</div>
	<div id="process-subject-help" class="invisible">
		<p>Here you can create the first subject</p>
	</div>
	<div id="graph_cv_outer"></div>
</div>
