<div class="inner">

	<div id="contentHead">
		<h3 id="processName" data-bind="text: currentProcess().name "></h3>
	</div>

	<div id="graph">
		<!-- <h2 id="process_name" style="color:#525252" data-bind="text: activeView "></h2>-->
		<!-- Begin graph window -->
		<div class="onecolumn">
			<div class="header">
				<div class="btn-group" id="switch">
          <a class="btn" data-bind="attr: { href: currentProcess().url() }">Subject-Interaction-View</a>

					<button id="tab3" class="btn active">Routing</button>
				</div>
			</div>

			<div id="processContent">
        <div class="tab_content">

<div style="padding: 0 5px;">
    <h3>Routing</h3>
    <br class="clear"/>
   <!-- <a data-bind="click : addRouting">Create new routing rule</a> -->
    <br class="clear"/><br class="clear"/>
    <table class="datatable" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
            	
                <th style="width:10%">If subject provider of</th>
                <th style="width:10%">subject</th>
                <th style="width:5%">is/is not</th>
                <th style="width:10%">in group/user</th>
                <th style="width:10%">group/user</th>
                <th style="width:10%">then</th>
                <th style="width:10%">subject</th>
                <th style="width:5%">is/is not</th>
                <th style="width:10%">in group/user</th>
                <th style="width:10%">group/user.</th>
                <th style="width:10%">Delete</th>
            </tr>
        </thead>
     <!--   <tbody data-bind="foreach: routings">
            <tr>
                <td style="text-align: center">If subject provider of</td>
            	<td><select data-bind="options: $parent.subject, value: subject1Value, optionsCaption: 'Choose subject'"></select> </td>
                <td><select data-bind="options: $parent.is, value: is1Value"></select> </td>
                <td><select data-bind="options: $parent.groupUser, value: groupUser1Value"></select> </td>
              	<td><select data-bind="options: groupUser1,  value: groupUser1ListValue, optionsText: 'name', optionsValue: 'ID', optionsCaption: 'Choose group/user'"></select> </td>
                <td style="text-align: center">then </td>
            	<td><select data-bind="options: $parent.subject, value: subject2Value, optionsCaption: 'Choose subject'"></select> </td>
                <td><select data-bind="options: $parent.is, value: is2Value"></select> </td>
                <td><select data-bind="options: $parent.groupUser, value: groupUser2Value"></select> </td>
              	<td><select data-bind="options: groupUser2,  value: groupUser2ListValue, optionsText: 'name', optionsValue: 'ID', optionsCaption: 'Choose group/user'"></select> </td>
                <td style="text-align: center"><a data-bind="click: $parent.removeRouting, value: subject1Value">Delete</a></td>
            </tr>
     </tbody> -->
    </table>
    
    <br class="clear"/> 
    <br class="clear"/> 
</div>
</div>
			</div>

		</div>
	</div>

</div>