<style type="text/css">
#dashboardHistory .state td {
	border-top:1px solid #000;
}
#dashboardHistory .messages .leftBox {
	float:left; width:303px;
}
#dashboardHistory .messages .leftBox .left, #dashboardHistory .messages .left {
	float:left;
	width:69px;
	padding:5px;
	font-weight:bold;
}
#dashboardHistory .messages .text {
	width:493px;
}
#dashboardHistory .messages .leftBox .right, #dashboardHistory .messages .right {
	float:left;padding:5px;
}

#dashboardHistory .messages .rightBox {
	float:left;
}
#dashboardHistory .messages .rightBox .left {
	float:left;width:64px;padding:5px;font-weight:bold;
}
#dashboardHistory .messages .rightBox .right {
	float:left;padding:5px;
}
</style>
<div id="dashboardHistory">
  <div class="flexbox" style="height: 100%;">
      <div class="fluid" style="height: 100%;">
        
        <table class="table result">
          <thead>
            <th>Time</th>
            <th>Subject</th>
            <th>From</th>
            <th>@State</th>
            <th>To</th>
            <th>@State</th>
            <th></th>
          </thead>
          <tbody data-bind="foreach: historicEntries">
            <tr class="state" style="cursor: pointer;">
              <td data-bind="text: timeStamp().date"></td>
              <td data-bind="text: process().processName"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().fromState.text:''"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().fromState.stateType:''"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().toState.text:''"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().toState.stateType:''"></td>
              <td><!-- ko if: $data.hasOwnProperty("messages") --><img src="images/icons/e-mail.png" alt="Messages" /><!-- /ko --> </td>
            </tr>
   
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>