<div id="history">
  <div class="flexbox" id="clickablelist" style="height: 100%;">
      <div class="fluid" style="height: 100%;">
        <div data-bind="visible: historys().length==0">
		  <p class="lead">
		    There are no Processes running at the moment.
		  </p>
		</div>
        <table class="table result" data-bind="visible: historys().length>=1">
          <thead>
            <th>Time</th>
            <th>Process</th>
            <th>From</th>
            <th>@State</th>
            <th>To</th>
            <th>@State</th>
            <th></th>
          </thead>
          <tbody data-bind="foreach: historys()">
            <tr class="state" data-bind="click:  function() { if(transitionEvent() && $data.transitionEvent().hasOwnProperty('message')) $('.message'+$index()).toggle(); }, style: { cursor: transitionEvent() && $data.transitionEvent().hasOwnProperty('message') ? 'pointer' : '' }">
              <td data-bind="text: ts"></td>
              <td data-bind="text: process().processName  + ' - ' + instanceName "></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().fromState.text:''"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().fromState.stateType:''"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().toState.text:''"></td>
              <td data-bind="text: transitionEvent() ? transitionEvent().toState.stateType:''"></td>
              <td><!-- ko if: transitionEvent() && $data.transitionEvent().hasOwnProperty("message") --><img src="images/icons/e-mail.png" alt="Messages" /><!-- /ko --> </td>
            </tr>
              <!-- Line below will be recognized by ko parser-->
              <!-- ko if: transitionEvent() && $data.transitionEvent().hasOwnProperty("message") -->
              
              <tr class="true" style="display: none;" data-bind="attr: { 'class': 'messages message' +$index() }">
 				<td colspan="7" style="padding:0;">
                	<div style="padding:8px;">
                        <div class="leftBox">
                        	
                        	<div class="left">ID:</div><div class="right" data-bind="text: transitionEvent().message.messageId"></div><div style="clear:both;"></div>
                        	<div class="left">Type:</div><div class="right" data-bind="text: transitionEvent().message.messageType"></div><div style="clear:both;"></div>
                        </div>
                        <div class="rightBox">
                        	<div class="left">From:</div><div class="right" data-bind="text: transitionEvent().message.fromSubject"></div><div style="clear:both;"></div>
                        	<div class="left">To:</div><div class="right" data-bind="text: transitionEvent().message.toSubject"></div><div style="clear:both;"></div>
                        </div>
                        <div style="clear:both"></div>
                        <div class="left">Message:</div><div class="right text" data-bind="text: transitionEvent().message.text"></div><div style="clear:both;"></div>
                	</div>
                </td>
              </tr>
              <!-- /ko -->   
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>