.controls
	label Subjects
	form
		ul.unstyled( data-bind="foreach: subjectList" )
			li
				input( type="text", data-bind="value: name, valueUpdate: 'afterkeydown'" )
				a( href="#", data-bind="click: $parent.removeSubject" ) Remove

		.actions
			input( type="button", value="Add Subject", data-bind="click: addSubject" )


.controls
	label Messages
	form
		ul.unstyled( data-bind="foreach: messageList" )
			li
				select.input-medium( data-bind="options: $parent.subjectList, optionsText: 'name', optionsCaption: 'Select a subject...', value: sender" )
				input.input-medium( type="text", data-bind="value: message" )
				select.input-medium( data-bind="options: $parent.subjectList, optionsText: 'name', optionsCaption: 'Select a subject...', value: receiver" )
				a( href="#", data-bind="click: $parent.removeMessage") Remove

		.actions
			input( type="button", value="Add Message", data-bind="click: addMessage")

