#quick( style=" height:200px; width: 760px;", data-bind="visible:true" )
	#subjects( style="float:left; width:216px; overflow: auto; height:192px;padding:10px;" )
		table
			thead
				tr
					th Subjects
					th
			tbody( data-bind="foreach: subjectList" )
				tr
					td
						input( data-bind="value: name" )
					td
						a( href="#", data-bind="click: $parent.removeSubject>" ) Remove
		input( type="button", value="Add Subject", data-bind="click: addSubject" )

	#messages( style="float:left; width:495px; overflow: auto; height:192px;	border-left:1px; border-style:solid;	border-color:black; padding:10px;" )
		table
			thead
				tr
					th
					th Messages
					th
					th
			tbody( data-bind="foreach: messageList" )
				td
					select( data-bind="options: $parent.subjectList, optionsText: function(item){return item.name()}, optionsCaption: 'Select a subject...', value: sender" )
				td
					input( data-bind="value: message" )
				td
					select( data-bind="options: $parent.subjectList, optionsText: function(item){return item.name()}, optionsCaption: 'Select a subject...', value: receiver" )
				td
					a( href="#", data-bind="click: $parent.removeMessage") Remove

		input( type="button", value="Add, Message", data-bind="click: addMessage")

