.datatable {
	width: 100%;
	padding: 2px;
	margin: 0;
	border-collapse : collapse; 
}

.datatable tr {	
	width: inherit;
}

.datatable th{
	font-weight: bold;
	font-size: 120%;
	line-height: 28px;
	padding-left: 4px;
	background-color: #BFC6CF;
	color: #000;
}

.datatable td {	
	padding: 4px 2px;
	vertical-align: middle;
}

.datatable tr:nth-child(1n+2) {
	background-color: #EAECED;
	color: #000;
}

.datatable tr:nth-child(2n+3) {
	background-color: #F7F7F7;
	color: #000;
}

.datatable .hover tr:hover {
	background-color: #4C535B;
	color: #fff;
}

.datatable select,.datatable span,.datatable input {
	width: 95%;
	max-width: 95%;
}
