/* bootstrap overrides */
html, body {
    height: 100%;
}
body {
  padding-top: 70px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
	.navbar-default {
		background:#777777 !important;
	}
	.row-offcanvas {
    	position: relative;
    	-webkit-transition: all 0.25s ease-out;
    	-moz-transition: all 0.25s ease-out;
    	transition: all 0.25s ease-out;
  	}
  	.row-offcanvas-left
  	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
  	}
  	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
  	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}


.navbar-default .navbar-brand {
	color:#fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color:#fff;
}
.navbar-default {
	background-image: url(../images/bg_header.png);
}
.navbar-default, .navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a {
	color:#fff;
}
.container {
    max-width: 100%;
}
.container #main {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px 6px 6px 6px;
    padding-bottom:18px;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    color: inherit;
    line-height: 2.14286;
    margin-bottom: 30px;
    padding: 20px;
    padding-top:0;
}
#executionContent {
    padding: 10px;
}
#executionContent.first-tab-selected {
    border-radius: 0 5px 5px 5px;
}
#executionContent {
    background-color: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #CCCCCC;
}
#main .breadcrumb {
	margin-bottom:0;
}
/*BUGFIXES */

/* DASHBORAD */ 
#dashboard .select2-container .select2-choice {
  background: none;
  border: 0;
  height: 14px;
  box-shadow: none;
  line-height: 16px;
}

#dashboard .select2-container .select2-choice:hover {
  background-color: #EEE;
}

#dashboard .select2-dropdown-open .select2-choice {
  background-color: #FCFCFC;
  background-image: linear-gradient(to bottom, white, #F8F8F8);
  background-repeat: repeat-x;
  border: medium none;
  border-radius: 4px 4px 0 0;
}

#dashboard .select2-dropdown-open {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #CCCCCC #CCCCCC -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px medium;
  box-shadow: 0 0 3px #CCCCCC;
  height: 29px;
  position: relative;
  top: 2px;
  border-radius: 5px 5px 0 0;
}

#dashboard .select2-drop {
  border-color: #CCCCCC;
}

#dashboard .select2-search {
  margin: 2px;
}

#dashboard .select2-default {
  color: #4B4F5D !important;
}

#dashboard .select2-container .select2-choice .select2-arrow {
  border: 0;
  background: none;
}

/* Processes */
