<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th width="70">ID</th>
				<th>Group</th>
				<th width="300" >Actions</th>
			</tr>
		</thead>
		<tbody id="listOfGroups" data-bind="foreach: groups">
			<tr>
				<td data-bind="text: id" class="text-center"></td>
				<td>
					<input type="text" class="form-control" data-bind="value: name, valueUpdate:'afterkeydown'" />
				</td>

				<td class="text-center">
					<div data-bind="css: { 'btn-group btn-group-sm': hasChanged }">
						<button type="button" class="btn btn-primary" data-bind='click: $parent.save, visible: hasChanged'>Save changes</button>
						<button type="button" class="btn btn-warning" data-bind='click: $parent.reset, visible: hasChanged'>Reset</button>
						<button type="button" class="btn btn-danger btn-sm" data-bind='click: $parent.remove'>Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="btn-group">
		<button type="button" class="btn btn-success" data-bind='click: create'>Create Group</button>
		<button type="button" class="btn btn-primary" data-bind="click: saveAll">Save all</button>
		<button type="button" class="btn btn-warning" data-bind="click: resetAll">Reset all</button>
	</div>
</div>
