<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Group</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="listOfRoles" data-bind="foreach: roles">
			<tr data-bind="attr: { id: 'role'+ id() }">
				<td data-bind="text: id" class="text-center"></td>
				<td>
					<input type="text" class="form-control" data-bind='value: name' />
				</td>
				<td>
					<select data-bind="options: $parent.groups,
						optionsText: 'name', optionsValue : 'id',
						selectedOptions: groupIds, chosen: {}"
						class="chzn-select" multiple="multiple">
					</select>
				</td>
				<td class="text-center">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-primary" data-bind='click: $parent.save'>Save changes</button>
						<button type="button" class="btn btn-warning" data-bind='click: $parent.reset'>Reset</button>
						<button type="button" class="btn btn-danger btn-sm" data-bind='click: $parent.remove'>Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="btn-group">
		<button type="button" class="btn btn-success" data-bind='click: create'>Create Role</button>
		<button type="button" class="btn btn-primary" data-bind="click: saveAll">Save all</button>
		<button type="button" class="btn btn-warning" data-bind="click: resetAll">Reset all</button>
	</div>
</div>

