<div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Group</th>
				<th>Active</th>
				<th>Provider/Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody id="listOfUsers" data-bind="foreach: users">
			<tr data-bind="attr: { id: 'user'+ id() }">
				<td data-bind="text: id" class="inline"></td>
				<td>
					<div class="form-group">
						<label class="sr-only">Name:</label>
						<input type="text" name="from" id="from" class="form-control" data-bind='value: name' />
					</div>
				</td>
				<td>
					<div class="input-group">
						<select class="chzn-select" data-bind="options: $parent.groups,
							optionsText: 'name', optionsValue : 'id',
							selectedOptions: groupIds, chosen: {}" multiple="multiple">
						</select>
					</div>
				</td>
				<td class="text-center">
					<input type="checkbox" data-bind="checked: isActive" />
				</td>
				<td>

				<div data-bind="foreach: $data.providerMail">
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Email address</label>
						<input type="text" class="form-control input-sm" data-bind='value: provider' />
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Email address</label>
						<input type="email" class="form-control input-sm" data-bind='value: mail' />
					</div>
					<div class="btn-group btn-group-xs">
						<button type="button" class="btn btn-success" data-bind='click: $parent.addEmail'>Add</button>
						<button type="button" class="btn btn-danger" data-bind='click: $root.deleteEmail.bind($data,$parent)'>Delete</button>
					</div>
				</div>
				</td>
				<td class="text-center">
					<div class="btn-group btn-group-sm">
						<button type="button" class="btn btn-primary" data-bind='click: $parent.save'>Save changes</button>
						<button type="button" class="btn btn-warning" data-bind='click: $parent.reset'>Reset</button>
						<button type="button" class="btn btn-danger btn-sm" data-bind='click: $parent.remove'>Delete</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="btn-group">
		<button type="button" class="btn btn-success" data-bind='click: create'>Create User</button>
		<button type="button" class="btn btn-primary" data-bind="click: saveAll">Save all</button>
		<button type="button" class="btn btn-warning" data-bind="click: resetAll">Reset all</button>
	</div>
</div>
